.App {
  text-align: center;
  margin: 30px;
  background-color: aqua;
  padding: 20px;
}
.section2 button {
  margin-right: 10px;
  cursor: pointer;
}

.section3 button {
  margin-right: 10px;
  cursor: pointer;
}

.section4 button {
  margin-right: 10px;
  cursor: pointer;
}